.App {
  text-align: center;
  background-image: radial-gradient(
    farthest-corner at 100% 200px,
    #1e1e1e,
    #0c0c0c 1800px,
    #0c0c0c
  );
}

.header {
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 2.7em;
  letter-spacing: 0.03em;
  color: #ffdd00;
}
